* {
    margin: 0px;
    padding: 0px;
}

.top-wrapper {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
}

.hr-menu {

    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.merge {
    width: 60%;
    display: flex;
    justify-content: space-between;

}

.campaign-holder {
    margin-top: 10px;
}

.searchandothers {
    border: 1px solid #f5f5f5;
    padding: 10px;
    width: 80%;
    line-height: 30px;
    border-radius: 50px;
    box-shadow: 9px 10px 21px -1px rgba(222, 222, 222, 0.66);
    -webkit-box-shadow: 9px 10px 21px -1px rgba(222, 222, 222, 0.66);
    -moz-box-shadow: 9px 10px 21px -1px rgba(222, 222, 222, 0.66);
}

.searchandothers input {
    width: 85%;
    height: 25px;
    border: none;
    margin-left: 20px;
}

.searchandothers input:focus {
    outline: none;
}

.google-section {
    display: flex;
    justify-content: space-evenly;
}

.settings {
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    line-height: 40px;
}

.settings:hover {
    background-color: #dedede;
    cursor: pointer;
}

.buttom-links {
    padding-left: 150px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 10px;

}

.buttom-links nav ul {
    list-style-type: none;
}

.buttom-links nav ul li {
    display: inline;
    margin-right: 10px;
}

.buttom-links a {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    font-family: Google Sans, arial, sans-serif;
}

.search-top {
    padding-left: 170px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.about-search {
    font-family: Google Sans, arial, sans-serif;
    color: #70757a;
    font-size: 14px;
}

.messi {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}

.messi-name {
    margin-right: 20px;
}

.my-name {
    font-family: Google Sans, arial, sans-serif-medium, sans-serif;
    font-size: 28px;
    line-height: 36px;
    color: #202124;
}

.messi-prof {
    color: #5F6368;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-right: 20px;
}

.top-buttons {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

.overview-button {
    height: 40px;
    width: 100px;
    border-radius: 50px;
    background-color: #E2EEFF;
    border: 1px solid #0A84FF;
    color: #0A84FF;
    font-family: Google Sans, arial, sans-serif;
    font-weight: bold;
    margin-right: 8px;
}

.other-buttons {
    height: 40px;
    width: 75px;
    border-radius: 50px;
    background-color: #E2EEFF;
    color: #0A84FF;
    font-family: Google Sans, arial, sans-serif;
    font-weight: bold;
    margin-right: 8px;
    border: none;

}

.other-buttons:hover {
    background-color: #92dff3;
}

.messi-assets {
    padding-left: 170px;
    width: 90%;
    margin: auto;
    background-color: #E2EEFF;
    display: flex;
    justify-content: space-between;

}

.first-credit {
    width: 50%;
    display: flex;
    height: 300px;
}

.rakutien {
    width: 50%;
    margin-right: 3px;
    height: 100%;

}

.argentina {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.format-img {
    height: 100%;
    width: 50%;
    margin-bottom: 3px;
}

.format-rak-image {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.format-arg-image-top {
    border-top-right-radius: 10px;
}

.format-arg-image-bottom {
    border-bottom-right-radius: 10px;
}

.second-credit {
    width: 25%;
    border-radius: 10px;
    cursor: pointer;

}

.heiage {
    display: flex;
    flex-direction: column;
    margin-right: 10px;

}








.messi-about {
    display: flex;
    width: 90%;
    margin: auto;
}

.messi-left {
    width: 150%;
}

.messi-pics {
    padding-left: 100px;
    margin-bottom: 30px;

}

.top-stories {
    padding-left: 100px;

}

.about-right {
    width: 70%;
    border-left: 1px #70757a solid;
    padding-left: 15px;
}

.tittles {
    color: #202124;
    font-size: 14px;
    line-height: 24px;
    font-family: arial, sans-serif;
    font-weight: 600;
}

.paragraphs {
    line-height: 1.58;
    color: #4d5156;
    font-size: 14px;
    font-family: arial, sans-serif;
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: #1a0dab;
}

.top-stories-body {
    padding-left: 100px;
    margin-bottom: 30px;

}

.top-stories-items {
    width: 100%;
    display: flex;
    padding: 10px;
}

.top-stories-items-left {
    width: 50%;
    height: 250px;
    padding-right: 10px;
    border-right: 1px #70757a solid;
    padding-top: 10px;
    margin-bottom: 10px;

}

.top-stories-items-right {
    width: 50%;
    padding: 10px;
}

.were-porter {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    cursor: pointer;

}

.post-time {
    color: #70757a;
    line-height: 16px;
    font-size: 14px;
}

.top-stories-links {
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1a0dab;
}

.football-london {
    display: flex;
    padding: 10px;
    border-top: 1px #70757a solid;
}

.stories-img {
    border-radius: 10px;
    height: 90px;
    cursor: pointer;
}

.new-stories {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    font-size: 14px;
    font-family: arial, sans-serif;
    font-weight: 400;
    width: 300px;
    height: 36px;
    border-radius: 18px;
    background-color: #f1f3f4;
}

.new-stories:hover{
    background-color: #70757a;
}